.leaderboardPage {
  display: flex;
  background-color: var(--background);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20rem 0 20rem;

  h1 {
    padding: 3rem;
  }

  thead {
    th {
      text-transform: uppercase;
      color: #666666;
      padding-bottom: 1rem;
    }
    th:last-child {
      section {
        display: flex;
        justify-content: space-between;
        p {
          padding: 0 5rem 0 5rem;
        }
      }
    }
  }

  tbody {
    td {
      align-items: center;
      height: 7rem;
    }
    td:first-child {
      border-radius: 10px 0 0 10px;
      width: 60px;
      h3 {
        display: flex;
        justify-content: center;
      }
    }

    td:last-child {
      width: 100%;
      border-radius: 0 10px 10px 0;

      background: var(--white);
    }

    img {
      border-radius: 50%;
    }
    tr {
      background: var(--white);
      border-radius: 0 10% 10% 0;
    }
  }
  div {
    height: 0.2rem;
  }
  .blueText {
    color: var(--blue);
  }
}

.userInfo {
  display: flex;
  margin-left: 1rem;

  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    div:first-child {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      height: 100%;

      h3 {
        font-size: 1.25rem;
        color: var(--title);
      }
    }
    div:last-child {
      display: flex;
      align-self: center;
      justify-content: space-between;
      margin: 0 3rem 0 0;

      p:nth-child(2) {
        padding: 0 3rem 0 0.5rem;
      }
      p:last-child {
        padding-left: 0.5rem;
      }
    }
  }
}
